doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet",type="text/css",href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css",media="all")
		script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
		script(src='/javascripts/form.js')
	body
		div(id="mainPan")
			div(id="leftPan")
				div(id="leftTopPan")
					h1 Flight Search
				div(id="leftBottomPan")
					include ./sidebar.jade
			div(id="rightPan")
				div(id="rightTopPan")
				div(id="rightBottomPan")
					block content
		div(id="footermainPan")
			div(id="footerPan")