/* block positioning */
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font: normal 11px Verdana;
}

/* IE7 Fix */
* html #wrapper {
    display: table;
    height: 100%
}

/* Opera Fix */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

div#wrapper {
    height: 100%;
    height: auto !important;
    min-height: 100%;
    width:960px;
    margin:auto;
    border:1px solid black;
}


div#header {
    height: 50px;
    background: #cc1846;
    border-bottom: 1px solid #fff;
    padding: 10px;
}

div#body {
    overflow: hidden;
    height: 100%;
}

div#right {
    margin: 0px 0px 0px 240px;
    padding: 20px;
}

div#left {
    width: 200px;
    float: left;
    padding: 20px;
    background:#ccc;
    min-height:600px;
}



/* elements positioning */
div#left label, div#price_slider label { display:block; margin-bottom:5px; }
div#left input[type="text"], div#left select, div#left input[type="button"] { margin: 0 0 15px; width:160px; cursor:pointer;} 

div#price_slider { height:80px;margin-top:15px;}
div#price_slider span#max_price {float:right;margin-right:20px;}
div#price_slider div#slider {margin-top:5px; width:155px;}
div#price_slider div#slider .ui-slider-handle {cursor:pointer;}

div#right div#title h2 {margin:0;}
div#right div#title span#recap {float:right;}
div#right div#title {height:50px;}

div.row {  height:70px; border:1px solid grey;margin-bottom:5px;}
div.row div.cell { height:100%; float:left;width:20%;margin:0 15px;}
div.row div.cell ul {
    list-style-type: none;
    text-indent:-40px;
}
div.row div.price h2 { margin:25px 20px 0 0; }
div.row div button { margin-top:20px; width:100%;height:30px; }


/** tabs **/
div#fields { 
  border: 1px solid #ccc; 
  padding: 10px 0 0 15px;
  background:#fff;
}
div#tabs {
  position: relative;
  clear: both;
  height:35px;
}
div#tabs div.tab {
  float: left;
}
div#tabs div.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  cursor:pointer;
}
div#tabs div.tab [type=radio] {
  display: none;   
}

div#tabs div [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
}